{% extends 'base.html' %}

{% block form %}
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Body Mass Index</h1>
            </div>
            
                <div class="control-group">
                <input type="text" id="height" placeholder="Height(in cm)..." class="form-control">
                
                </div>

                <div class="control-group">
                <input type="text" id="weight" placeholder="Weight(in kg)..." class="form-control" >
                </div>   
                <input class="btn login_btn" id="btn" type="button"  value="Calculate BMI"><br><br>
                <div class="pt-8">
                <div id="result"></div>
            </div>
        </div>        
    </div>
{% endblock form %}